 <section id="actions" class="bg-light-gray">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {{ content }}
        </div>
    </div>
    <div class="row">
        {% for actions in page.header.actions %}
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ actions.modalid }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ page.media[actions.thumbnail].url }}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ actions.title }}</h4>
                    <p class="text-muted">{{ actions.subtitle }}</p>
                </div>
            </div>

        {% endfor %}
        <a href="/actions/">View All</a>
    </div>
</div>
</section>


 {% for actions in page.header.actions %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ actions.modalid }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ actions.title }}</h2>
                            <hr class="star-primary">
                            <div {%if actions.imgextra %}class="modal-images"{% endif %}>
                                <img src="{{ page.media[actions.img].url }}" class="img-responsive img-centered" alt="{{ actions.alt }}">
                                {% if actions.imgextra %}
                                <img src="{{ page.media[actions.imgextra].url }}" class="img-responsive img-centered" alt="{{ actions.altextra }}">
                                {% endif %}
                            </div>
                            <p>{{ actions.description }}</p>
                            <ul class="list-inline item-details">

                                <li>Date:
                                    <strong>{{ actions.projectdate }}
                                    </strong>
                                </li>

                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}